body {
    font-family: "Arial", sans-serif;
    background-color: #ffffff;
}
section {
    text-align: center;
}
.title {
    font-size: 30px;
    color: #ff006e;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    background-color: #f8f9fa!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 2px #007bffb1;
    border: 2px solid #007bffb1;
    color: #ffc107;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.game-restart{
background-color:#007bff;
font-size: 20px;
font-weight: bold;
color: #fff;
border: 0px;
border-radius:0.25rem ;
padding: 14px 14px;
cursor: pointer;
}
.game-restart:focus{
outline:none ;
}
.game-restart:hover{
    background-color: #007bffb1;
}
::selection{
    background-color: #bdbbbb;
}
.l1{
background-color: darkgrey;
}
.Clean{
    background-color: #ffc107;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border: 0px;
    border-radius:0.25rem ;
    padding: 14px 14px;
    cursor: pointer;

}
.Clean:focus{
    outline:none ;
}
.Clean:hover{
     background-color: #ffc107c0;
}